<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <!-- Links to the home page -->
        <a
          [routerLink]="['/home']"
          routerLinkActive="['active']"
          class="nav-link link-dark px-2"
          aria-current="page"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <!-- Links to the recipes page -->
        <a
          [routerLink]="['/main']"
          routerLinkActive="['active']"
          class="nav-link link-dark px-2"
          aria-current="page"
        >
          Recipes
        </a>
      </li>
      <li class="nav-item">
        <!-- Links to the about page -->
        <a
          [routerLink]="['/about']"
          routerLinkActive="['active']"
          class="nav-link link-dark px-2"
        >
          About
        </a>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <!-- Links to the sign-in page -->
        <a [routerLink]="['/signin']" class="nav-link link-dark px-2">
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <!-- Links to the sign-up page -->
        <a [routerLink]="['/signup']" class="nav-link link-dark px-2">
          Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>
