<div class="card shadow-sm position-relative">
  <div class="position-relative">
    <img
      src="{{ recipe ? recipe.strMealThumb : 'NO IMAGE' }}"
      class="bd-placeholder-img card-img-top"
      alt="{{ recipe ? recipe.strMeal : 'NO NAME' }}"
    />
    <div
      class="position-absolute top-0 start-0 w-100 h-100 bg-dark"
      style="opacity: 0.5"
    ></div>
    <div
      class="position-absolute top-50 start-50 text-white translate-middle fs-5 fw-bold"
    >
      {{ recipe ? recipe.strMeal : "NO NAME" }}
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ recipe ? recipe.strCategory : "NO CATEGORY" }}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a
          [routerLink]="['/recipe', recipe?.idMeal]"
          class="btn btn-sm btn-outline-secondary"
        >
          View
        </a>
        <a
          [routerLink]="['/edit', recipe?.idMeal]"
          class="btn btn-sm btn-outline-secondary"
        >
          Edit
        </a>
      </div>
      <small class="text-body-secondary">{{
        recipe ? recipe.dateModified : "NO DATE"
      }}</small>
    </div>
  </div>
</div>
