<div class="container mt-4">
  <div class="row align-items-center">
    <!-- Profile image section -->
    <div class="col-md-4 text-center px-5">
      <!-- Profile image with rounded shape and shadow -->
      <img
        src="https://avatars.githubusercontent.com/u/91416378?v=4"
        alt="Profile"
        class="img-fluid rounded-circle shadow"
      />
    </div>

    <div class="col-md-8">
      <!-- Language selection dropdown -->
      <div class="d-flex justify-content-end mb-3">
        <select class="form-select w-auto" (change)="setLanguage($event)">
          <option value="en" [selected]="language === 'en'">English</option>
          <!-- English option -->
          <option value="es" [selected]="language === 'es'">Español</option>
          <!-- Spanish option -->
        </select>
      </div>

      <!-- Conditional content display based on selected language -->
      @if (language === 'en') {
        <div class="content" style="text-align: justify">
          <h2>About Me</h2>
          <p>
            Hello! I am Joan, a student of
            <strong>Multiplatform Application Development (DAM)</strong> and
            <strong>Web Application Development (DAW)</strong>. Passionate about
            programming and development technologies, I am constantly learning
            and seeking new ways to improve my skills.
          </p>

          <p>
            Throughout my studies, I have gained solid knowledge in programming
            languages such as Java, Python, and JavaScript, as well as modern
            tools and frameworks like Spring Boot and Angular. My academic
            experience has allowed me to develop personal projects that not only
            apply the concepts learned but also challenge me to explore creative
            and efficient solutions.
          </p>

          <p>
            My professional goal is to join a development team where I can
            contribute to creating innovative applications while continuing to
            learn and evolve in the world of software development. I am
            motivated by the idea of adding value through technology, solving
            problems, and improving digital experiences.
          </p>

          <h3>Education</h3>
          <ul>
            <li>
              <strong
                >Higher Degree in Web Application Development (DAW)</strong
              >
            </li>
            <li>
              <strong
                >Higher Degree in Multiplatform Application Development
                (DAM)</strong
              >
            </li>
            <li>
              <strong
                >Intermediate Degree in Microcomputer Systems and Networks
                (CFSN)</strong
              >
            </li>
          </ul>
        </div>
      }

      <!-- Content in Spanish if the selected language is 'es' -->
      @if (language === 'es') {
        <div class="content" style="text-align: justify">
          <h2>Sobre Mí</h2>
          <p>
            ¡Hola! Soy Joan, estudiante de
            <strong>Desarrollo de Aplicaciones Multiplataforma (DAM)</strong> y
            <strong>Desarrollo de Aplicaciones Web (DAW)</strong>. Apasionado
            por la programación y las tecnologías de desarrollo web y software,
            me encuentro en constante aprendizaje y en búsqueda de nuevas formas
            de mejorar mis habilidades.
          </p>

          <p>
            Durante mi formación, he adquirido conocimientos sólidos en
            lenguajes de programación como Java, Python y JavaScript, así como
            en herramientas y frameworks actuales como Spring Boot y Angular. Mi
            experiencia académica me ha permitido desarrollar proyectos
            personales que no solo aplican los conceptos aprendidos, sino que
            también me desafían a explorar soluciones creativas y eficientes.
          </p>

          <p>
            Mi objetivo profesional es integrarme en un equipo de desarrollo
            donde pueda contribuir a la creación de aplicaciones innovadoras
            mientras sigo aprendiendo y evolucionando en el mundo del desarrollo
            de software. Estoy motivado por la idea de aportar valor a través de
            la tecnología, resolviendo problemas y mejorando experiencias
            digitales.
          </p>

          <h3>Formación</h3>
          <ul>
            <li>
              <strong
                >Grado Superior en Desarrollo de Aplicaciones Web (DAW)</strong
              >
            </li>
            <li>
              <strong
                >Grado Superior en Desarrollo de Aplicaciones Multiplataforma
                (DAM)</strong
              >
            </li>
            <li>
              <strong
                >Grado Medio en Sistemas Microinformáticos y Redes
                (CFSN)</strong
              >
            </li>
          </ul>
        </div>
      }
    </div>
  </div>
</div>
