<div class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">
        {{ recipe?.strMeal || 'Recipe Name Not Found' }}
      </h1>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">Cooking Instructions</h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Instructions</h2>
        <p class="blog-post-meta">
          {{ recipe?.dateModified || 'No data available.' }} by
          <a href="https://github.com/bena-sudo">bena-sudo</a>
        </p>

        @for (paragraph of getInstructionParagraphs(); track $index) {
          <p>{{ paragraph || 'No instructions available.' }}</p>
        }

        <h3 class="mb-3">Ingredients</h3>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Ingredient</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            @for (ingredient of getIngredients(); track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
              </tr>
            }
          </tbody>
        </table>
      </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div class="py-3">
          <img
            width="100%"
            src="{{ recipe ? recipe.strMealThumb : 'NO IMAGE' }}"
            alt="{{ recipe ? recipe.strMeal : 'NO NAME' }}"
          />
        </div>
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Example blog post title</h6>
                  <small class="text-body-secondary">January 15, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">This is another blog post title</h6>
                  <small class="text-body-secondary">January 14, 2024</small>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Recipe Links</h4>
          <ol class="list-unstyled mb-0">
            <li>
              <a href="{{ recipe?.strYoutube }}" target="_blank"
                >Watch on YouTube</a
              >
            </li>
            <li>
              <a href="{{ recipe?.strSource }}" target="_blank">View Source</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
