<div class="card">
  <img
    src="{{ recipe ? recipe.strMealThumb : 'NO IMAGE' }}"
    class="card-img-top"
    alt="{{ recipe ? recipe.strMeal : 'NO TITLE' }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ recipe ? recipe.strMeal : "NO TITLE" }}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a [routerLink]="['/recipe',recipe?.idMeal]" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
