<div class="container mt-5">
  <footer class="py-5">
    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>© 2025 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#">
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#">
            <i class="bi bi-instagram"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>
