<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px">
    <form>
      <div class="text-center mb-4">
        <img
          src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
          alt="Logo"
          width="72"
          height="57"
          class="mb-2" />
        <h1 class="h5 mb-3 fw-bold">Please sign in</h1>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
          required />
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="rememberMe" />
        <label class="form-check-label" for="rememberMe"> Remember me </label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign in</button>
      <p class="mt-4 mb-0 text-center text-muted">© 2025 Company, Inc</p>
    </form>
  </div>
</div>